<a href="https://colab.research.google.com/github/Gauri210524/tuple-31-01-2026/blob/main/Tuple_and_Set_Practice_Questions_Only.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
tuple1 = (1,2,3,4,5)
print(tuple1)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [4]:
# write your answer here
tuple1 =(1,2.3,"string",True)
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[3])

1
2.3
string
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [6]:
# write your answer here
students_name = ("A","B","C","D")
print(len(students_name))

4

### Question 4
Access and print the last element of a tuple.

In [7]:
# write your answer here
tuple1 = (1,2,3,4,5)
print(tuple1[-1])

5

### Question 5
Check whether an element exists in a tuple or not.

In [9]:
# write your answer here
tuple1 = (1,2,3,4,5)
print(3 in tuple1)
print(8 in tuple1)

True
False

### Question 6
Convert a tuple into a list.

In [10]:
# write your answer here
tuple1 = (1,2,3,4,5)
print(list(tuple1))

[1, 2, 3, 4, 5]

### Question 7
Convert a list into a tuple.

In [12]:
# write your answer here
list1 = [1,2,3,4,5]
print(tuple(list1))

(1, 2, 3, 4, 5)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [18]:
# write your answer here
tuple1 = (1,2,2,2,3,4,5,5,2,3,4)
for i in range(1,6):
    print(tuple1.count(i))

1
4
2
2
2

### Question 9
Find the index of an element in a tuple.

In [19]:
# write your answer here
tuple1 = (1,2,3,4,5)
print(tuple1.index(4))

3

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [16]:
# write your answer here
tuple1 = (1,2,3,4,5)
tuple1[0] = 6

TypeError: 'tuple' object does not support item assignment